<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Afla urmatoarea destinatie de vacanta</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>Adauga data plecarii si data sosirii:</h3>
        <form id="choice" name='form' method="POST" action="/">
          <input id="plecare" type="text" name="plecare" placeholder="Data plecare">
          <input id="intoarcere" type="text" name="intoarcere" placeholder="Data intoarcere">
	  <button id="a" type="submit" name="send" class="a" value="a">Gaseste zbor</button>
        </form>
        <div id="tip">
          (Tip: you can enter your info only once)
        </div>
        <div id="hostname">
          Processed by container ID {{hostname}}
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    {% if vote %}
    <script>
      var plecare = "{{plecare}}",
	  intoarcere = "{{intoarcere}}";

      if(plecare != "" && intoarcere != ""){
        $(".a").prop('disabled', true);
        $("#tip").html('Cererea pentru perioada {{plecare}} - {{intoarcere}} a fost trimisa. Asteptati raspunsul. <i class="fa fa-check-circle"></i>');
      }
    </script>
    {% endif %}
  </body>
</html>
